a, a:visited{
    color: #4898ff
}
.btn{
    color: #fff;
    background-color: #4898ff
}
.btn:hover{
    background-color: #4898ff
}
header{
    background: linear-gradient(to right,#3282b8,#0f4c75);
    color: white
}
.footer{
    background-color: #1b262c
}
.upload{
    background-color: #3282b8
}
.upload:hover{
    background-color: #4898ff
}
input[type="password"]{
    border: 1.5px solid #0f4c75
}
input[type="submit"]{
    border: 1.5px solid #0f4c75
}
input[type="submit"]:hover{
    background-color: #0f4c75;
    color: white
}
::selection{
    color: white;
    background-color: #008aff
}
@media (prefers-color-scheme:dark){
    .recents .gridRecents a{
        color: #f4fbff;
        background-color: #3282b8;
        box-shadow: 0 2px 10px #191c2552
    }
}
@media only screen and (max-width: 840px){
    .recents .gridRecents a{
        background-color: transparent
    }
}